@media only screen and (max-width: 320px) {

  /* Hidden Section Technology */

  .technology {
    display: none;
  }

  /* Hamburger Menu */

  .menu__wrapper {
    display: block;
    width: 80%;
    height: 40px;
    background: transparent;
    position: relative;
  }

  .menu {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
  }

  .menu span {
    display: block;
    margin: 6px auto;
    width: 80%;
    height: 4px;
    background: black;
  }
}