@media only screen and (max-width: 425px) {

  /* Main */

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Section Technology */

  .technology {
    width: 80%;
  }
  
  .list {
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
  }

  /* Section Content */

  .content {
    width: 80%;
    box-sizing: border-box;
  }
}