#nick, #message {
  width: 200px;
  height: 24px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
}
#btn {
  width: 150px;
  height: 28px;
  border: none;
  font-weight: 600;
  background: #2196F3;
  color: white;
} 

#btn:hover {
  cursor: pointer;
}
.container {
  color: black;
  padding: 10px 15px;
  width: 500px;
  border: 1px solid #BBDEFB;
  background: #BBDEFB;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.containerNick {
  font-size: 20px;
  margin: 0;
}
.containerMessage {
  margin: 5px 0;
  font-size: 16px;
}