@media only screen and (max-width: 375px) {

  /* Section Tutorials */

  .tutorials {
    width: 55%;
  }

  /* Section Flex */

  .flex {
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex .flex__item {
    padding: 10px 0px;
  }

  /* Section with img */

  .wrapper__img {
    width: 100%;
    justify-content: flex-start;
  }

  /* Section with code */

  .code {
    width: 100%;
  }

  .code p {
    width: 80%;
    height: 50%;
    overflow: scroll;
    white-space: nowrap;
  }
}