/* Main Setting */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

/* Hidden buttons */

.menu__wrapper {
  display: none;
}

.btn__js {
  display: none;
}


/* Header */

.header,
.nav {
  width: 100vw;
  height: 50px;
  background: #726a6d;
  display: flex;
  align-items: center;
}

.nav {
  width: 320px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.nav__img {
  height: 50%;
  padding: 15px;
}

/* Main */

.main__content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Section Tutorials */

.tutorials {
  background: #f78c19;
  width: 25%;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.tutorials__title {
  margin: 30px 0 20px 15px;
}

.tutorials__list {
  display: flex;
  flex-direction: column;
}

.tutorials__item {
  margin: 5px 25px;
  padding: 5px;
}

.tutorials__item:hover {
  background-color: #ffffff;
  color: #f78c19;
  cursor: pointer;
}

/* Section Flex */

.flex {
  width: 25%;
  display: flex;
  box-sizing: border-box;
}

.flex__list {
  margin: 10px 30px;
}

.flex__item {
  padding: 15px 0;
}

/* Section with img */

.wrapper__img {
  width: 100px;
  /* width: 100px; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.img {
  width: 75px;
  height: auto;
}

/* Section with code */

.hide__block {
  display: flex;
  background: #000;
  color: #ffffff;
  width: 40%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.code {
  display: flex;
  width: 80%;
  justify-content: center;
}

.code p {
  width: 80%;
}